# for backend
*.iml
.idea/
**/target/
.classpath
.project
.DS_Store
/bin/

# for frontend
node_modules/
dist/
package-lock.json

# for ai
.opencode
.omo
.claude
.specify
specs

# 编译输出
*.class

# IDE 配置
.vscode/
.settings/

# 本地日志文件
*.log
logs/

# 本地数据文件夹（仅忽略根目录下的 data 文件夹）
/data/

**/src/main/resources/application.properties

!**/src/main/resources/application.properties.template

/xxl-job-executor-samples/xxl-job-executor-etl/src/test/
