<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.executor.cdc.mapper.ProdOrdHdrMapper">

    <insert id="upsertBatch" parameterType="java.util.List">
        INSERT INTO t_prodordhdr_copy1 (
        BP,
        F_ID,
        F_DOCDATE,
        F_DOCTIME,
        F_DUEDATE,
        F_SALESID,
        F_ITEMID,
        F_PARTID,
        F_DOCQTY,
        F_DUEQTY,
        F_SHEETQTY,
        F_RESQTY,
        F_FREEQTY,
        F_PAPERWID,
        F_SHEETLEN,
        F_SHEETWID,
        F_LCUT,
        F_WCUT,
        F_JOINSHEET,
        F_EDITBY,
        F_CONFBY,
        F_ISCONF,
        F_ISCLOSE,
        F_CLOSETYPE,
        F_CLOSEDATE,
        F_RMRK,
        F_UNITAREA,
        F_ISOUT,
        F_UPCUT,
        F_LOWCUT,
        F_UPWID,
        F_LOWWID,
        F_PAPER,
        F_FLUTEID,
        F_BIANLIAO,
        F_BUSHU,
        F_BUSHUREASON,
        F_BPINV,
        F_TRANSPORTEDTIME,
        F_BOARDAREA,
        F_LAYERTYPE,
        F_ScoreType,
        F_BIANLIAOPRODID,
        F_BIANLIAOCOUNT,
        F_TechFlowID,
        F_RMRK_CONVERTPROD,
        F_PRODIDBYINVSET,
        F_FeiLiao,
        F_ReWork,
        F_ReWorkProdID,
        F_ExceedProdID,
        F_DIENUM,
        F_CreatedBY,
        F_TECHFLOWMAINID,
        F_ScoreIsControledByMinVal,
        F_WIPLen,
        F_WIPWidth,
        F_FLOWID,
        F_IsBPCorrugatorAccepted,
        F_BPCorrugatorAcceptBy,
        F_BPCorrugatorUploaded,
        F_dataSource,
        f_updateTime
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.BP},
            #{item.F_ID},
            #{item.F_DOCDATE},
            #{item.F_DOCTIME},
            #{item.F_DUEDATE},
            #{item.F_SALESID},
            #{item.F_ITEMID},
            #{item.F_PARTID},
            #{item.F_DOCQTY},
            #{item.F_DUEQTY},
            #{item.F_SHEETQTY},
            #{item.F_RESQTY},
            #{item.F_FREEQTY},
            #{item.F_PAPERWID},
            #{item.F_SHEETLEN},
            #{item.F_SHEETWID},
            #{item.F_LCUT},
            #{item.F_WCUT},
            #{item.F_JOINSHEET},
            #{item.F_EDITBY},
            #{item.F_CONFBY},
            #{item.F_ISCONF},
            #{item.F_ISCLOSE},
            #{item.F_CLOSETYPE},
            #{item.F_CLOSEDATE},
            #{item.F_RMRK},
            #{item.F_UNITAREA},
            #{item.F_ISOUT},
            #{item.F_UPCUT},
            #{item.F_LOWCUT},
            #{item.F_UPWID},
            #{item.F_LOWWID},
            #{item.F_PAPER},
            #{item.F_FLUTEID},
            #{item.F_BIANLIAO},
            #{item.F_BUSHU},
            #{item.F_BUSHUREASON},
            #{item.F_BPINV},
            #{item.F_TRANSPORTEDTIME},
            #{item.F_BOARDAREA},
            #{item.F_LAYERTYPE},
            #{item.F_ScoreType},
            #{item.F_BIANLIAOPRODID},
            #{item.F_BIANLIAOCOUNT},
            #{item.F_TechFlowID},
            #{item.F_RMRK_CONVERTPROD},
            #{item.F_PRODIDBYINVSET},
            #{item.F_FeiLiao},
            #{item.F_ReWork},
            #{item.F_ReWorkProdID},
            #{item.F_ExceedProdID},
            #{item.F_DIENUM},
            #{item.F_CreatedBY},
            #{item.F_TECHFLOWMAINID},
            #{item.F_ScoreIsControledByMinVal},
            #{item.F_WIPLen},
            #{item.F_WIPWidth},
            #{item.F_FLOWID},
            #{item.F_IsBPCorrugatorAccepted},
            #{item.F_BPCorrugatorAcceptBy},
            #{item.F_BPCorrugatorUploaded},
            #{item.F_dataSource},
            #{item.f_updateTime}
            )
        </foreach>
        AS new_data
        ON DUPLICATE KEY UPDATE
        F_DOCDATE = new_data.F_DOCDATE,
        F_DOCTIME = new_data.F_DOCTIME,
        F_DUEDATE = new_data.F_DUEDATE,
        F_SALESID = new_data.F_SALESID,
        F_ITEMID = new_data.F_ITEMID,
        F_PARTID = new_data.F_PARTID,
        F_DOCQTY = new_data.F_DOCQTY,
        F_DUEQTY = new_data.F_DUEQTY,
        F_SHEETQTY = new_data.F_SHEETQTY,
        F_RESQTY = new_data.F_RESQTY,
        F_FREEQTY = new_data.F_FREEQTY,
        F_PAPERWID = new_data.F_PAPERWID,
        F_SHEETLEN = new_data.F_SHEETLEN,
        F_SHEETWID = new_data.F_SHEETWID,
        F_LCUT = new_data.F_LCUT,
        F_WCUT = new_data.F_WCUT,
        F_JOINSHEET = new_data.F_JOINSHEET,
        F_EDITBY = new_data.F_EDITBY,
        F_CONFBY = new_data.F_CONFBY,
        F_ISCONF = new_data.F_ISCONF,
        F_ISCLOSE = new_data.F_ISCLOSE,
        F_CLOSETYPE = new_data.F_CLOSETYPE,
        F_CLOSEDATE = new_data.F_CLOSEDATE,
        F_RMRK = new_data.F_RMRK,
        F_UNITAREA = new_data.F_UNITAREA,
        F_ISOUT = new_data.F_ISOUT,
        F_UPCUT = new_data.F_UPCUT,
        F_LOWCUT = new_data.F_LOWCUT,
        F_UPWID = new_data.F_UPWID,
        F_LOWWID = new_data.F_LOWWID,
        F_PAPER = new_data.F_PAPER,
        F_FLUTEID = new_data.F_FLUTEID,
        F_BIANLIAO = new_data.F_BIANLIAO,
        F_BUSHU = new_data.F_BUSHU,
        F_BUSHUREASON = new_data.F_BUSHUREASON,
        F_BPINV = new_data.F_BPINV,
        F_TRANSPORTEDTIME = new_data.F_TRANSPORTEDTIME,
        F_BOARDAREA = new_data.F_BOARDAREA,
        F_LAYERTYPE = new_data.F_LAYERTYPE,
        F_ScoreType = new_data.F_ScoreType,
        F_BIANLIAOPRODID = new_data.F_BIANLIAOPRODID,
        F_BIANLIAOCOUNT = new_data.F_BIANLIAOCOUNT,
        F_TechFlowID = new_data.F_TechFlowID,
        F_RMRK_CONVERTPROD = new_data.F_RMRK_CONVERTPROD,
        F_PRODIDBYINVSET = new_data.F_PRODIDBYINVSET,
        F_FeiLiao = new_data.F_FeiLiao,
        F_ReWork = new_data.F_ReWork,
        F_ReWorkProdID = new_data.F_ReWorkProdID,
        F_ExceedProdID = new_data.F_ExceedProdID,
        F_DIENUM = new_data.F_DIENUM,
        F_CreatedBY = new_data.F_CreatedBY,
        F_TECHFLOWMAINID = new_data.F_TECHFLOWMAINID,
        F_ScoreIsControledByMinVal = new_data.F_ScoreIsControledByMinVal,
        F_WIPLen = new_data.F_WIPLen,
        F_WIPWidth = new_data.F_WIPWidth,
        F_FLOWID = new_data.F_FLOWID,
        F_IsBPCorrugatorAccepted = new_data.F_IsBPCorrugatorAccepted,
        F_BPCorrugatorAcceptBy = new_data.F_BPCorrugatorAcceptBy,
        F_BPCorrugatorUploaded = new_data.F_BPCorrugatorUploaded,
        F_dataSource = new_data.F_dataSource,
        f_updateTime = new_data.f_updateTime
    </insert>

    <delete id="deleteBatch" parameterType="java.util.List">
        DELETE FROM t_prodordhdr_copy1
        WHERE (BP, F_ID) IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            (#{item.BP}, #{item.F_ID})
        </foreach>
    </delete>

</mapper>