<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.executor.cdc.mapper.SalesOrdDtlMapper">

    <!-- 批量 Upsert (MySQL 8 别名语法) -->
    <insert id="upsertBatch" parameterType="java.util.List">
        INSERT INTO fact_sales_order_dtl (
        BP,
        F_SALESID,
        F_ITEMID,
        F_DOCQTY,
        F_UNITAMT,
        F_BOARDLEN,
        F_BOARDWID,
        F_PRICEBOARDWID,
        F_BPINV,
        F_ISINV,
        F_INVQTY,
        F_dataSource,
        f_updateTime
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.BP},
            #{item.F_SALESID},
            #{item.F_ITEMID},
            #{item.F_DOCQTY},
            #{item.F_UNITAMT},
            #{item.F_BOARDLEN},
            #{item.F_BOARDWID},
            #{item.F_PRICEBOARDWID},
            #{item.F_BPINV},
            #{item.F_ISINV},
            #{item.F_INVQTY},
            #{item.F_dataSource},
            #{item.f_updateTime}
            )
        </foreach>
        AS new_data
        ON DUPLICATE KEY UPDATE
        BP=new_data.BP,
        F_DOCQTY = new_data.F_DOCQTY,
        F_UNITAMT = new_data.F_UNITAMT,
        F_BOARDLEN = new_data.F_BOARDLEN,
        F_BOARDWID = new_data.F_BOARDWID,
        F_PRICEBOARDWID = new_data.F_PRICEBOARDWID,
        F_BPINV = new_data.F_BPINV,
        F_ISINV = new_data.F_ISINV,
        F_INVQTY = new_data.F_INVQTY,
        F_dataSource = new_data.F_dataSource,
        f_updateTime = new_data.f_updateTime
    </insert>

    <!-- 【修正后的删除方法】MySQL 8 完全支持 (BP, F_SALESID, F_ITEMID) 联合条件 -->
    <delete id="deleteBatch" parameterType="java.util.List">
        DELETE FROM fact_sales_order_dtl
        WHERE (F_SALESID, F_ITEMID) IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            (#{item.F_SALESID}, #{item.F_ITEMID})
        </foreach>
    </delete>

</mapper>